/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:url(../images/grid.jpg) repeat;
font-size:11px;
}

.wrapper {
margin:0 auto;
width:1024px;
height:768px;
border-style:solid;
position:relative;
}

#ali{
float:none;
width:1024px;
height:200px;
border-style:solid;	
}

#ali1 {
float:left;
width:774px;
border-style:solid;
}
#ali2 {
float:left;
width:250px;
border-style:solid;
}
#ali3{
float:none;
width:1024;
height:568;
}
#map {
float:none;
width:1024px;
height:568px;
border-style:solid;
clear:both;
}



.point {
position:absolute;
display:none;
padding:10px 15px;
background:#7BB9F0;
font-size:14px;
font-weight:bold;
-moz-border-radius:8px;
}

.point .close {
display:block;
position:absolute;
top:-10px;
right:-10px;
width:24px;
height:24px;
text-indent:-9999px;
outline:none;
background:url(../images/close.png) no-repeat;
}

.point img {
vertical-align:middle;
margin-right:10px;
}

a img {
border:none;
}

