#{extends 'main.html' /} #{set title:'Home' /}

<div class="wrapper">
	
	<div id="stats"></div>
	<div id="map"></div>
	
</div>


<script type="text/javascript">
	var Num1 = 0;
	var Num2 = 0;
	var Num3 = 0;
	var Num4 = 0;
	var sayi = 0;
	var firstval ;
	var secondval ;
	var thirdval  ;
	var forthval  ;

	var pasta = Raphael(1450, 170, 300, 250);
	var stats = Raphael("stats"	,900, 150);
	var yonetim = Raphael(1450,70,220,55);
	//var rectangle = yonetim.rect(1450, 70, 0, 100);
	//rectangle.g.txtattr.font = "25px 'Fontin Sans', Fontin-Sans, sans-serif";
	//rectangle.g.text(200,70," Anket seciniz...");
	//rectangle.g.txtattr.href= "http://google.com"	;
	
	$(function() {

		var harita = ScaleRaphael('map', 1030, 820), attributes = {
			fill : '#fff',
			stroke : '#3899E6',
			'stroke-width' : 1,
			'stroke-linejoin' : 'round'
		},

		arr = new Array();
		Plaka = new Array();
		
		var obj;
ajax_cagrisi2(harita);
		harita.changeSize(1024, 768, true, false);
	});
	function ajax_cagrisi(plaka, cnt, obj) {

		$.ajax({
			type : 'GET',
			url : "@{Application.getVote()}",
			dataType : "json",
			data : {
				il : plaka
				
			},
			success : function(data) {
				for ( var i = 0; i < 4; i++)
					paths[cnt].vote[i] = data[i];
				Num1 += data[0];
				Num2 += data[1];
				Num3 += data[2];
				Num4 += data[3];
				sayi++;
				if (sayi >= 82) {
               
					Num1 -= data[0];
					Num2 -= data[1];
					Num3 -= data[2];
					Num4 -= data[3];
				}
				barchartciz(Num1, Num2, Num3, Num4);
				renkle(cnt);
				obj.attr({
					fill : paths[cnt].color
				});
			}
		})

	}

	function ajax_cagrisi2(harita) {

		arr = new Array();
		Plaka = new Array();
		var obj;
		var i=-1;

		$.ajax({
			type : 'GET',
			url : "@{Application.getVote2()}",
			dataType : "json",
			data : {
			},
			success : function(data) { 
		
				for( var country in paths){
			
				i++;
				obj = harita.path(paths[country].path);
				arr[obj.id] = country;
				var cnt = arr[obj.id];


				if(i<=80){
					for ( var j = 0; j < 4; j++)
						paths[cnt].vote[j] = data[i][j];

					Num1 += data[i][0];
					Num2 += data[i][1];
					Num3 += data[i][2];
					Num4 += data[i][3];
					sayi++;
					if (sayi >= 82) {

						Num1 -= data[i][0];
						Num2 -= data[i][1];
						Num3 -= data[i][2];
						Num4 -= data[i][3];
					}
				}
				barchartciz(Num1, Num2, Num3, Num4);
				renkle(cnt);
				obj.attr({
					fill : paths[cnt].color
				});


				obj.click(function() {

					var point = this.getBBox(0);
					document.location.hash = arr[this.id];
					var cnt = arr[this.id];
					var name = paths[arr[this.id]].name;
					var plaka = paths[arr[this.id]].plaka;

					ajax_cagrisi(plaka, cnt, obj);

					piechartciz(paths[arr[this.id]].vote[0], 
							paths[arr[this.id]].vote[1],
							paths[arr[this.id]].vote[2],
							paths[arr[this.id]].vote[3], name);
				});
				obj.hover(function() {
					this.animate({
						fill : 'white'
					}, 300);

					document.location.hash = arr[this.id];
					var point = this.getBBox(0);

					$('#map').next('.point').remove();

					$('#map').after($('<div />').addClass('point'));
					var sum = paths[arr[this.id]].vote[0]
							+ paths[arr[this.id]].vote[1]
							+ paths[arr[this.id]].vote[2]
							+ paths[arr[this.id]].vote[3];
					$("#Toplam").val(sum);
					$("#firstval").val(
							"%"
									+ Math.round(100 * paths[arr[this.id]].vote[0]
											/ sum * 100) / 100 + "    ("
									+ paths[arr[this.id]].vote[0] + "oy)");
					$("#secondval").val(
							"%"
									+ Math.round(100 * paths[arr[this.id]].vote[1]
											/ sum * 100) / 100 + "    ("
									+ paths[arr[this.id]].vote[1] + "oy)");
					$("#thirdval").val(
							"%"
									+ Math.round(100 * paths[arr[this.id]].vote[2]
											/ sum * 100) / 100 + "    ("
									+ paths[arr[this.id]].vote[2] + "oy)");
					$("#forthval").val(
							"%"
									+ Math.round(100 * paths[arr[this.id]].vote[3]
											/ sum * 100) / 100 + "    ("
									+ paths[arr[this.id]].vote[3] + "oy)");

					$('.point').html(paths[arr[this.id]].name).prepend(
							$('<a />').attr('href', '#').addClass('close').text(
									'Close'))

					.css({
						left : point.x,
						top : point.y - 30
					}).fadeIn();

				}, function() {
					this.animate({
						fill : paths[arr[this.id]].color
					}, 300);

				})
				$('.point').find('.close').live('click', function() {
					var t = $(this), parent = t.parent('.point');

					parent.fadeOut(function() {
						parent.remove();
					});
					return false;
				});


				}
			}
		})

	}

	function renkle(country) {
		var max;
		var biggest;
		biggest = 0;
		max = 0;
		for ( var i = 0; i < 4; i++) {
			if (paths[country].vote[i] >= max) {
				max = paths[country].vote[i];
				biggest = i;
			}
		}
		if (biggest == 0)
			paths[country].color = 'orange';
		else if (biggest == 1)
			paths[country].color = 'blue';
		else if (biggest == 2)
			paths[country].color = 'green';
		else
			paths[country].color = 'red';

		return false;
	}

	


	function piechartciz(a, b, c, d, e) {

		pasta.clear();

		pasta.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

		pasta.g.text(105, 25, e).attr({
			"font-size" : 20
		});

		var pie = pasta.g.piechart(100, 100, 60, [ a, b, c, d ], {
			legend : [ "%%.%% AKP", "%%.%% CHP", "%%.%% MHP", "%%.%% Diger" ],
			//legendpos : "north",
			href : [ "http://seylul.github.com", "http://seylul.github.com",
					"http://seylul.github.com", "http://seylul.github.com" ],
			colors : [ 'orange', 'red', 'green', 'blue' ]
		});
		pie.hover(function() {
			this.sector.stop();
			this.sector.scale(1.1, 1.1, this.cx, this.cy);
			if (this.label) {
				this.label[0].stop();
				this.label[0].scale(1.5);
				this.label[1].attr({
					"font-weight" : 800
				});
			}
		}, function() {
			this.sector.animate({
				scale : [ 1, 1, this.cx, this.cy ]
			}, 500, "bounce");
			if (this.label) {
				this.label[0].animate({
					scale : 1
				}, 500, "bounce");
				this.label[1].attr({
					"font-weight" : 400
				});
			}

		});
	}

	function barchartciz(a, b, c, d) {

		stats.clear();
		fin = function() {
			this.flag = r.g
					.popup(this.bar.x, this.bar.y, this.bar.value || "0")
					.insertBefore(this);
		}, fout = function() {
			this.flag.animate({
				opacity : 0
			}, 300, function() {
				this.remove();
			});
		};
		stats.g.txtattr.font = "20px 'Fontin Sans', Fontin-Sans, sans-serif";
		stats.g.text(600, 50, "2012 TÜRKİYE GENELİ ANKET SONUÇLARI");

		stats.g.hbarchart(235, 60, 700, 70, [ [ a ], [ b ], [ c ], [ d ] ], {
			colors : [ 'orange', 'blue', 'green', 'red' ],
			stacked : true
		}).hover(fin, fout);
		return false;
	}
	

	

	$(document).ready(function(){


	$("#manage").dialog({
    	height: 400,
    	width:  500,
    	modal: true,
    	buttons : {
                "Ok" : function() {              
                   $(this).dialog("close");
                   var $w =$(this).find('option:selected').val()

                },
                "Cancel" : function() {
                   $(this).dialog("close");
                }
        }
	});
	


		$.ajax({
			type : 'GET',
			url : "@{Application.kategori()}",
			dataType : "json",
			data : {
			},
			success : function(data) { 
		       console.log(data);
 
		    }
			
		})

	});
	



    function manageshow() {
	var w = document.mylist.value;
   	//var selected_text = document.myform.mylist.options[w].text;
    if (w=="Futbol_Takimi"){

   		window.alert("Futbol takımı");
   	}
   	else if(w=="Siyasi_Parti"){
   		var firstval= "AKP";
   		var secondval= "CHP";
   		var thirdval = "MHP";
   		var forthval = "Diger";
   		
   		
   	}
   	else if(w=="Icecek"){
   		window.alert("ne içersiniz");
   	}
}


	
</script>

<table id="tablo">
	<form action="">
		
		<tr>
			<td>Toplam:</td>
			<td><input id="Toplam" style="text-align: left; width: 3em " /> oy</td>
		</tr>
		
		<tr>
			<td><script language="JavaScript">

             
			 document.write("AKP:");</script>   </td>
			<td><input id="firstval" />
			</td>
 
		</tr>
		
		<tr>
			<td>CHP:</td>
			<td><input id="secondval" type="text" value="" />
			</td>
		</tr>
		
		<tr>
			<td>MHP:</td>
			<td><input id="thirdval" type="text" value="" />
			</td>
		</tr>

		<tr>
			<td>Diger:</td>
			<td><input id="forthval" type="text" value="" />
			</td>
		</tr>
	
	</form>

</table>





<div id= "manage" align="center" title="ANKET SEÇİNİZ">


<select style="width:450px" name="mylist" onChange="manageshow()">
	<option value="" style="display:none;"></option>
    <option value="Futbol_Takimi">İllere göre futbol takımı Dağımılı </option>
    <option value ="Siyasi_Parti"> İllere göre Siyasi Parti Dağılımı</option>
    <option value="Icecek">En beğenilen içecek</option>
    
</select>

</div>